html,
body {
  margin: 0;
  padding: 0;
  background-image: url(images/c22-bg-simple.gif);
}

canvas {
  display: block;
  margin: auto;
  border: 2px, solid, black;
}

.container {
  position: relative;
  text-align: center;
  color:black;
}
.words {
  position: absolute; 
  top: 10%;
  left: 35%; 

}